* {
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

header {
  background: url('./img/hero-bg.jpg');
}
.title {
  font-size: 56px;
  font-weight: 700;
}

/* Header */
.sec1-img {
  padding: 50px 0;
}

/* About */
.about {
  padding: 100px;
}
.section2 {
  padding: 0 100px 0 100px;
  line-height: 1.5;
}

/* Features */
.col-lg-3 {
text-align: center;

}
i {
  margin-right: 5px;
  color: #1acc8d;
}
.features {
  padding-bottom: 50px;
}
.box {
  background-color: #f5f5ff;
  padding: 15px 20px;
}

.section3 {
  padding-bottom: 100px;
}
.numbers {
  background-color: #f5f5ff;
}
.box1 {
  background-color: white;
  padding: 10px;
}
.number {
  font-size: 32px;
}
.numbers {
  padding: 30px 30px;
}
.numbers i {
  background-color: #1acc8d;
  color: white;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: -35px;
  left: 48%;
}
.num {
  background-color: #f5f5ff;
}
.features-2 {
  padding: 50px;
}
.features-2 p {
  color: gray;
  padding-bottom: 10px;
}
li {
  line-height: 1.5 ;
  color: gray;
  padding-bottom: 10px;
}

/* Team */
.team {
  margin: 50px;
}
.message{
   margin: auto;
   margin-top: 10px;
}